.principal{
	  border: solid black;
	  width: 500px;
	  background: #333B43;
	  padding: 10px;
	  margin: auto;
	  margin-top: 40px;
	  border-radius: 4px;
	  font-family: 'calibri';
	  box-shadow: 7px 13px 37px;
	  font-size: 20px;
	  text-align: center;
	  text-decoration: underline dotted;
}
